/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/*CSS*/
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-color: #69db88;
    height: 100vh;
    
}
main{
    display:flex;
    justify-content: space-around;
    height: 30vh;
}
header{
    width: 700px;
    margin: 10px auto;
    text-align: center;
    background-color: #4fa867;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
}
form{
    margin: 4px;
    display:flex;
    justify-content: space-around;
}
button{
    margin: 5px 0;
    width: 140px;
    height: 35px;
    font-family: Arial;
    background-color: #8bcc9d;
    border-color: #93e6aa;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
a{
    margin: 100px;
    text-decoration: none;
}
img{
    width: 200px;
}
footer{
    display:flex;
    justify-content: space-around;
}
#credenciales, #tokens{
    box-shadow: 0px 0px 50px black;
    border-radius: 15px;
    width: 700px;
    height: 150px;
    background-color: #6ef593;
    margin-top: 70px;
    
    
}
#credenciales input{
    width: 250px;
    height: 25px;
    font-family: Verdana;
    margin: 10px;
    font-size: 25px;
    border: none;
    background-color: #b5ffca;
}
#tokens input{
    margin: 10px;
    width: 500px;
    height: 25px;
    font-size: 12px;
    border: none;
    background-color: #b5ffca;
}

#resultado, #resultadoTOKEN{
    height: 100%;
    background-color: #6ecc88;
    font-family: Verdana;
    text-align: left;
}